
#root {

}


#dragdrop-section {
    display: flex;
    justify-content: space-evenly;
}


#iframe-div {
    width: 75%;
    margin: auto;
}

.template-iframe {
    width: 100%;
    height: 500px;
}


#buildingblocks-div {
    width: 20%;
    height: 500px;
    
    border: 1px solid black;

    overflow-y: scroll;
}


.blockoption-div {
    width: 100%;
    height: 200px;

    background-color: #dcdcdc;
    margin-bottom: 10px;
}

